<div class="navbar">
  <%= link_to "Home",  photos_path %>
  <span> | </span>
  <%= link_to "Profiles",  profiles_path %>
  <span> | </span>

  <% if user_signed_in? %>
    <%= link_to current_user.username, profile_path(current_user.username) %>
    <span> | </span>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <% else %>
    <%= link_to('Login', new_user_session_path) %>
  <% end %>
</div>
